#banner
  .banner_content
    %h1 Docs
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path
    %br/
    %br/

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Viral PBR&B direct trade pop-up, man braid echo park chicharrones literally cred pork belly beard. Jean shorts slow-carb small batch, street art 8-bit food truck mixtape everyday carry readymade kickstarter gochujang. Wolf brunch kickstarter affogato, neutra XOXO readymade literally craft beer artisan shoreditch.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br/
    %button= link_to "Join Now", new_user_registration_path